body {
background-color: cadetblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.card:hover {
  transform: translateY(-8px);

  box-shadow: 0 10px 25px rgba(141, 122, 183, 0.712);
}

.card {
background-color: beige;
border-radius: 12px;
box-shadow: 0 4px 12px #F4EDF7;
padding: 30px;
max-width: 400px;
text-align:center;
}

.card img {
border-radius: 50%;
width: 120px;
height: 120px;
object-fit: cover;
margin-bottom: 20px;
}


.card h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #b6abc2;
}

.card h2 {
  font-size: 18px;
  color: #817D85;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  color: #5f5f8d;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  padding:0;
  margin-bottom: 20px;
}

.card ul li {
  background-color:#baa7c3;
  margin: 5px 0;
  padding:8px;
  border-radius: 20px;
}

.card a {
 text-decoration: none;
 color: #88609b;
 font-weight: bold;
}